.calculator {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 250px;
    margin-top: -100px ;
    border: 2px solid #ccc;
    width: 400px;
    margin-left: -200px ;
    background-color: #f5f5f5;
}
  
  .screen {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 5px;
    cursor: pointer;
  }
  